<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <%- include('../partials/nav.ejs'); %>
   <div>
    <h1>Home Page of Gym</h1>
    <br>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A commodi odio hic amet eligendi, voluptatibus quae nostrum. Veritatis distinctio dolor beatae quos, tempore quibusdam adipisci maxime alia
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur nemo reprehenderit alias, exercitationem ad blanditiis cupiditate hic architecto assumenda voluptatum repudiandae similique quisquam molestiae iure vitae fuga. Velit, fugit culpa.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. In atque ab vel modi error deserunt! Soluta, dolorem quisquam. Nesciunt molestias ipsum quasi debitis nam magnam sunt, perspiciatis dignissimos provident voluptatum?
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod molestias pariatur possimus qui repudiandae veniam quia quisquam impedit non rem aliquid, sed officia nobis harum doloremque itaque nostrum inventore excepturi!
    </p>
   </div>
</body>
</html>